@model IEnumerable<Navigation.Models.Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Enjoy your ride!</h1>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="row d-block alert alert-secondary rounded-30">
            <h3>@Html.DisplayFor(modelItem => item.CustomerName)</h3>
            <h5>@Html.DisplayFor(modelItem => item.CustomerMobile)</h5>
            <a class="btn btn-primary btn-block btn-lg mt-4 mb-4" href="@Html.DisplayFor(modelItem => item.Address)">Directions</a>
            <p class="lead h5">
                <b>NOTES:</b> @Html.DisplayFor(modelItem => item.Notes)
            </p>
            <h5>Due at: @item.DueTime.ToShortTimeString()</h5>
        </div>
        <hr>
    }
    <h1>The End</h1>
</div>