@model IEnumerable<Navigation.Models.Driver>

@{
    ViewData["Title"] = "Drivers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewData["Title"]</h1>

<p>
    <a asp-action="AddDriver">Add New Driver</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identity.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identity.Email)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.AdminID">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.AdminID">Details</a> | *@
                @* <a asp-action="Delete" asp-route-id="@item.AdminID">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
