@model List<Navigation.Models.Destination>

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var driver = Model[0].Driver;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete all destinations for @driver.Name?</h3>
<div>
    <h4>Destinations</h4>
    <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DueTime)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var destination in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => destination.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => destination.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => destination.DueTime)
                    </td>
                </tr>
            }
            </tbody>
        </table>

    <form asp-action="DeleteAll">
        <input type="hidden" name="id" value="@Model[0].Driver.DriverID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Admin" asp-action="ListDestinations">Back to List</a>
    </form>
</div>
